apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "brokkr-agent.fullname" . }}
  labels:
    {{- include "brokkr-agent.labels" . | nindent 4 }}
data:
  BROKER_URL: {{ .Values.broker.url | quote }}
  AGENT_NAME: {{ .Values.broker.agentName | quote }}
  CLUSTER_NAME: {{ .Values.broker.clusterName | quote }}
  POLLING_INTERVAL: {{ .Values.agent.pollingInterval | quote }}
  PAK: {{ .Values.broker.pak | quote }}
