{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "brokkr-agent.fullname" . }}
  labels:
    {{- include "brokkr-agent.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
  - pods
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups: ["apps"]
  resources:
  - deployments
  - statefulsets
  - daemonsets
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "brokkr-agent.fullname" . }}
  labels:
    {{- include "brokkr-agent.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "brokkr-agent.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "brokkr-agent.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
