{{- if .Values.metrics.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "brokkr-agent.fullname" . }}
  labels:
    {{- include "brokkr-agent.labels" . | nindent 4 }}
    {{- with .Values.metrics.serviceMonitor.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "brokkr-agent.selectorLabels" . | nindent 6 }}
  endpoints:
  - port: health
    path: /metrics
    interval: {{ .Values.metrics.serviceMonitor.interval }}
    {{- with .Values.metrics.serviceMonitor.scrapeTimeout }}
    scrapeTimeout: {{ . }}
    {{- end }}
{{- end }}
