apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "brokkr-broker.fullname" . }}
  labels:
    {{- include "brokkr-broker.labels" . | nindent 4 }}
data:
  BROKKR__DATABASE__URL: {{ printf "postgres://%s:%s@%s:%s/%s" .Values.postgresql.username .Values.postgresql.password (include "brokkr-broker.databaseHost" .) (.Values.postgresql.port | toString) .Values.postgresql.database | quote }}
