apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "brokkr-broker.fullname" . }}
  labels:
    {{- include "brokkr-broker.labels" . | nindent 4 }}
data:
  {{- if not .Values.postgresql.existingSecret }}
  BROKKR__DATABASE__URL: {{ printf "postgres://%s:%s@%s:%s/%s" (include "brokkr-broker.databaseUsername" .) (include "brokkr-broker.databasePassword" .) (include "brokkr-broker.databaseHost" .) (include "brokkr-broker.databasePort" .) (include "brokkr-broker.databaseName" .) | quote }}
  {{- end }}
