---
name: Fast Code Validation
on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    uses: ./.github/workflows/setup.yml
  unit_tests:
    needs: setup
    uses: ./.github/workflows/unit_tests.yml
  integration_tests:
    needs: setup
    uses: ./.github/workflows/integration_tests.yml
  e2e_tests:
    needs: integration_tests
    uses: ./.github/workflows/e2e_tests.yml
